body {
    background-color: #ebf3fd;
    font-family: serif;
    text-align: center;

  }
  .rightalign {
    text-align: right;
  }

  h1 {
    color: rgb(20, 15, 125);
    font-weight: bold;
    text-decoration: underline;
    font-size: 40pt;
    text-align: center;

  }

  nav {
    background-color: white;
    border: medium solid rgb(20, 14, 125);
    border-radius: 20px;

  }

  h2 {
    text-decoration: underline;
    font-variant: small-caps;
    font-size: 20pt;
    text-align: center;
  }

  h3 {
    text-decoration: underline;
  }

  em {
    font-style: normal;
    font-weight: bold;
    text-decoration: underline;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    margin: 1px;
    padding: 0px;
    width: 100%;
    height: 100%;
    justify-content: space-around;
  }


  nav li {
    list-style: none;
    align-items: center;
    padding: 10px;

}

  nav li a {
    padding: 10px;
    font-size: 14pt;
    font-weight: bold;
    color: #312e00;
    text-align: center;

  }

  nav li a:hover {
    color: white;
    background-color: rgb(20, 14, 125);
  }

 .row {
    display: flex;
    margin: 1px;
    padding: 0px;

 }
  .rightalign {
    text-align: left;
    padding: 15px;
    margin: 10px;
  }

  .centertext {
    text-align: center;
  }

  .imagecenter {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10px;
    padding: 10px;
  }

  .row1, .row2, .row3, .row4 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 100px;
    margin: 20px;
    padding: 10px;
  }

  .contactrow {
    display: flex;
    margin: 1px;
    padding: 10px;
    background-color: white;
    border: medium solid rgb(20, 14, 125);
    border-radius: 20px;

 }
  .contactrightalign {
    text-align: left;
    padding: 15px;
    margin: 10px;
  }

  .worktext {
    text-align: left;
    background-color: white;
    border: medium solid rgb(20, 14, 125);
    border-radius: 20px;
    padding: 20px;
  }


  dt {
  text-decoration: underline;
  color: rgb(20, 15, 125);
  font-weight: bold;
  font-size: 130%;
  }

  .hidden {
    display: none;
  }

  #panel1, #panel2, #panel3, #panel4, #panel5, #panel6 {
    border:medium solid rgb(20, 14, 125);
    background-color: rgba(255, 255, 255, 0.401);
    padding: 10px;
  }

  #accordion2, #accordion3, #accordion4, #accordion5, #accordion6, #accordion1, #accordion1-1, #accordion2-1, #accordion3-1, #accordion4-1, #accordion5-1, #accordion6-1 {
    background-color: white;
    color:rgb(20, 14, 125);
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border-color:rgb(20, 14, 125);
    font-size: 115%;
    font-family: serif;
    font-variant: small-caps;
    font-weight: bold;
  }

  dl dd, dl dt, ul li {
    text-align: justify;
  }

  #accordion1:hover, #accordion2:hover, #accordion3:hover, #accordion4:hover, #accordion4:hover, #accordion5:hover, #accordion6:hover, #accordion1-1:hover, #accordion2-1:hover, #accordion3-1:hover, #accordion4-1:hover, #accordion5-1:hover, #accordion6-1:hover {
    background-color:  rgba(128, 128, 128, 0.206);
  }
